<!DOCTYPE html>
<html lang="es">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestor de Instalaciones{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block header %}
    <header class="main-header">
        <nav class="main-nav">
            <a href="{{ url_for('index') }}" class="brand-logo">Gestor de Instalaciones</a>
                <div class="nav-links">
                     {% if 'id_usuario' in session %}
                         <span class="welcome-message">Hola, {{ session.nombre }}</span>
                             {% if session.get('es_admin') %}
                              <a href="{{ url_for('admin') }}" class="nav-link nav-button">Panel de Admin</a>
                             <a href="{{ url_for('nueva_instalacion') }}" class="nav-link nav-button">Nueva Instalación</a>
                         {% else %}
                        <a href="{{ url_for('mis_tareas') }}" class="nav-link nav-button">Mis Tareas</a>
                        <a href="{{ url_for('mis_tareas_completadas') }}" class="nav-link nav-button">Tareas Completadas</a>
                        <a href="{{ url_for('mis_reservas') }}" class="nav-link nav-button">Mis Reservas</a>
                    {% endif %}
                        <a href="{{ url_for('logout') }}" class="nav-link nav-button logout-button">Cerrar Sesión</a>
                         {% else %}
                    <a href="{{ url_for('login') }}" class="nav-link nav-button">Iniciar Sesión</a>
                    <a href="{{ url_for('registro') }}" class="nav-link nav-button">Registrarse</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% endblock %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <div class="footer-container">
        <footer>
            <p>&copy; 2025 El Capibara </p>
        </footer>
    </div>
    
    {% block scripts %}{% endblock %}
</body>
</html>